{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}
{% from "govuk_frontend_jinja/components/inset-text/macro.html" import govukInsetText %}
{% from "govuk_frontend_jinja/components/details/macro.html" import govukDetails %}
{% from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner %}

{% from "form_runner/application_status.html" import applicationStatus %}

{% extends "apply/base.jinja.html" %}

{% block pageTitle %}{% trans %}Your applications{% endtrans %} - {{ grant.name }} - {% trans %}Apply for funding{% endtrans %}{% endblock %}

{% block beforeContent %}
{{ super() }}
<div class="govuk-phase-banner">
    <div class="proto-phase govuk-!-padding-top-1 govuk-!-padding-bottom-1">
        <p class="govuk-phase-banner__content">
            {% set email %}<strong class="govuk-!-font-weight-bold">{{ account.email }}</strong>{% endset %}
            <span class="govuk-phase-banner__text">{% trans email=email %}You are applying as {{ email }}{% endtrans %}</span>
        </p>
    </div>
</div>
{% if active_round.is_draft %}
<style nonce="{{ csp_nonce() }}">
    {# reset a few nav things that don't play nicely with this #}
    .govuk-service-navigation__item, .govuk-service-navigation__service-name {
        border: 0;
    }
    .govuk-service-navigation__item--active {
        font-weight: bold;
    }
</style>
 <div class="test-data-banner govuk-body govuk-!-margin-bottom-2">
    <div class="test-data-tag">
        <strong>Preview application</strong>
    </div>
</div>
{% endif %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {# i've just done a flash message for the time being, there will probably be quite a lot of text about next steps so this should probably be a govuk style confirmation scren #}
        {# I'll hook that in if I get time #}
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                {% if message == "APPLICATION_SUBMITTED" %}
                    {% set html %}
                        <h3 class="govuk-notification-banner__heading">{% trans %}Application submitted{% endtrans %}</h3>
                        <p class="govuk-body">{% trans %}You will receive an email with confirmation. You can view your submission at any time.{% endtrans %}</p>
                    {% endset %}
                    {{ govukNotificationBanner({
                        "html": html,
                        "type": "success"
                    }) }}
                {% endif %}
            {% endfor %}
        {% endwith %}
        <h1 class="govuk-caption-l">{{ grant.name }}</h1>
        <h2 class="govuk-heading-l">{% trans %}Your applications{% endtrans %}</h2>

        <p class="govuk-body">{% trans number_of_applications=(applications | length) %}You have started {{ number_of_applications }} applications for {% endtrans %}{{ grant.proto_apply_action_description }}.</p>

        {% if active_round %}
        {% set submissionHtml %}
            <ul class="govuk-list">
                {# these default flask-babel date formatters have a comma between day and year which the gov uk style guide doesn't suggest https://www.gov.uk/guidance/style-guide/a-to-z#dates #}
                <li><strong>{% trans %}Prospectus:{% endtrans %}</strong> <a class="govuk-link govuk-link--no-visited-state" href={{ grant.proto_prospectus_link }}>{{ grant.proto_prospectus_link }}</a></li>
                <li><strong>{% trans %}Opening date:{% endtrans %}</strong> {{ active_round.proto_start_date | dateformat }}</li>
                <li><strong>{% trans %}Submission deadline:{% endtrans %}</strong> {{ active_round.proto_end_date | dateformat }}</li>
            </ul>
        {% endset %}
        {{ govukDetails({
            "summaryText": _("Grant submission details"),
            "html": submissionHtml
        }) }}
        {% else %}
        {{ govukInsetText({
            "text": _("This grant is not open for applications for funding.")
        }) }}
        {% endif %}

        {% if applications %}
            {% set rows = [] %}
            {% for application in applications %}
                {% set referenceLink %}
                    <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('proto_apply.application.application_tasklist', application_external_id=application.external_id) }}">{{ application.code }}</a>
                {% endset %}
                {% set rows = rows.append([
                    { "html": referenceLink },
                    { "html": applicationStatus(application) },
                    { "text": application.created_at | dateformat },
                    { "text": application.updated_at | dateformat }
                ]) %}
            {% endfor %}
            {{ govukTable({
                "head": [
                    { "text": _("Reference") },
                    { "text": _("Status") },
                    { "text": _("Started") },
                    { "text": _("Last updated") }
                ],
                "rows": rows
            }) }}
        {% endif %}

        {% if active_round %}
        <form method="POST">
            <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
            {{ govukButton({
                "text": _("Start a new application"),
                "classes": "govuk-button--secondary" if applications
            }) }}
        </form>
        {% endif %}
        <p class="govuk-body">
            View a list of <a href="{{ url_for('proto_apply.application.view_all_questions', grant_code=grant.short_name, round_code=active_round.short_name) }}">all the questions</a> we will ask in this application
        </p>
    </div>
</div>
{% endblock content %}
