{% extends "assess/base.html" %}
{% from "assess/macros/theme.html" import theme %}
{% from "assess/macros/sub_criteria_navbar.html" import navbar %}
{% from "assess/macros/banner_summary.html" import banner_summary %}
{% from "assess/macros/flag_application_button.html" import flag_application_button %}
{% from "assess/macros/comments.html" import comment %}
{% from "assess/macros/application_feedback.html" import application_feedback %}
{% from "assess/macros/comments_edit_box.html" import edit_comment_box %}
{% from "assess/macros/comments_box.html" import comment_box %}
{% from "assess/macros/sub_criteria_heading.html" import sub_criteria_heading %}
{% from "assess/macros/migration_banner.html" import migration_banner %}
{% from "assess/macros/assessment_change_request.html" import assessment_change_request %}
{% from "assess/macros/assessment_subcriteria_accepted.html" import assessment_subcriteria_accepted %}
{%- from 'govuk_frontend_jinja/components/textarea/macro.html' import govukTextarea -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{% block header %}
    {{ super() }}
    {% include "assess/components/header.html" %}
{% endblock header %}
{% block content %}
    <h1 class="govuk-heading-l">Tell us why you've approved the responses</h1>
    <p class="govuk-body">Your response will be used for an audit trail and visible to other assessors.</p>
    <p class="govuk-body">Applicants will not see your response.</p>
    <p class="govuk-body govuk-!-margin-bottom-8">You can still request changes to the application before the quality assessment (QA).</p>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <form method="post">
                <div class="govuk-grid-row">
                    {{ change_request_form.csrf_token }}
                    <div class="govuk-grid-column-full">
                        {{ govukTextarea({
                            "name": change_request_form.comment.id,
                            "id": change_request_form.comment.id,
                            "rows": 8,
                            "label": {
                                "text": "",
                                "classes": "govuk-label--m",
                                isPageHeading: true
                            },
                            "value": "",
                            "errorMessage": {
                                "text": change_request_form.comment.errors.0
                            } if change_request_form.comment.errors
                        }) }}
                        <div class="govuk-button-group">
                            {{ govukButton({"text": "Save and continue", "type": "submit", "data-qa": "save-comment-button"}) }}
                            {{ govukButton({
                                "text": "Cancel",
                                "classes": "govuk-button--secondary",
                                "href": url_for(
                                'assessment_bp.display_sub_criteria',
                                application_id=application_id,
                                sub_criteria_id=sub_criteria.id)
                            }) }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
