{% extends "assess/base.html" %}
{% from "govuk_frontend_jinja/components/checkboxes/macro.html" import govukCheckboxes %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/textarea/macro.html" import govukTextarea %}

{% set pageHeading -%}
Request changes –
{% if current_theme.id == sub_criteria.id %}
{{ sub_criteria.name }} – {{ sub_criteria.project_name }}
{% else %}
{{ current_theme.name }} – {{ sub_criteria.name }} – {{ sub_criteria.project_name }}
{% endif %}
{% endset %}

{% block header %}
{{ super() }}
{% include "assess/components/header.html" %}
{% endblock header %}


{% block content %}
<div class="govuk-grid-row">
    <div class="theme govuk-grid-column-two-thirds">
        <div class="govuk-!-margin-bottom-8">
            <h2 class="govuk-heading-l scoring-heading">Reasons for requesting change</h2>
        </div>

        {% if form.errors.get("field_ids") %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        {% if form.errors.get("field_ids") %}
                        <li>
                            <a href=#field_ids>{{ form.errors.get("field_ids") | join("\n") }}</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}

    <form method="post">
        {{ form.csrf_token }}
        <div class="govuk-hint">Select all that apply</div>
        {% set items = [] %}
        {% for choice in question_choices %}
            {% set reason_id = "reason_"~choice.value %}
            {% set textHtml %}
                <p class="govuk-body">Answer: {{ choice.response }}</p>
                <div class="govuk-hint">What changes are needed?</div>
                {{ govukTextarea({
                    "id": form[reason_id].id,
                    "name": form[reason_id].id,
                    "label": {
                        "text": "",
                    },
                    "rows": 8,
                    "errorMessage": {
                        "text": form.errors.get(reason_id) | join("\n")
                    } if form.errors.get(reason_id) else None,
                    "value": form[reason_id].data or ""
                }) }}
            {% endset %}
            {% set item = {
                "value": choice.value,
                "text": choice.text,
                "conditional": {
                    "html": textHtml
                },
                "checked": choice.checked
            } %}
            {% set items = items.append(item) %}
        {% endfor %}
        <div class="govuk-!-margin-bottom-6">
            {{ govukCheckboxes({
                "name": "field_ids",
                "required": True,
                "items": items,
            }) }}
        </div>

        <div class="govuk-button-group">
            {{ govukButton({
                "text": "Save and continue"
            }) }}

            <a
                class="govuk-link"
                href="{{ url_for(
                    'assessment_bp.display_sub_criteria',
                    application_id=application_id,
                    sub_criteria_id=sub_criteria.id
                )}}"
            >
                Cancel
            </a>
        </div>
    </form>
    </div>
</div>
{% endblock content %}
