{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}


{% macro application_feedback(application_id, sub_criteria, current_theme_id, approval_form,change_requests,unrequested_changes) %}
    <div class="govuk-!-margin-top-4">
        <div class="govuk-button-group">
            <form method="post" action="{{ url_for('assessment_bp.display_sub_criteria',
                    application_id=application_id,
                    sub_criteria_id=sub_criteria.id) }}">
            {{ approval_form.csrf_token }}
            <input type="hidden" name="approve" value="1" />
            {% set approve_text = "Approve all changes" if change_requests else "Approve all responses" %}
            {{ govukButton({
            "text": approve_text
            }) }}
            {% set request_changes_url = url_for(
                'assessment_bp.request_changes',
                application_id=application_id,
                sub_criteria_id=sub_criteria.id,
                theme_id=current_theme_id
            ) %}
            {% set request_change_text = "Request another change" if (unrequested_changes or change_requests) else "Request a change" %}
            {{ govukButton({
                "text": request_change_text,
                "classes": "govuk-button--secondary",
                "href": request_changes_url
            }) }}
        </form>
        </div>
    </div>
{% endmacro %}
