{% macro assessment_change_request(flag, questions, user_info, score ) %}
    <div class="change-request-box">
        <p class="govuk-body-m">This change was requested by assessor, {{ user_info["full_name"] or "N/A" }} {{ user_info["email_address"] }} on {{ flag.date_created|utc_to_bst }} </p>
        <p class="govuk-body">
            {% for field_id in flag.field_ids %}
                <strong>{{ questions[field_id] }}</strong>
            {% endfor %}<br>
            {% for update in flag.updates %}
                {% if update["status"].name == "RAISED" %}
                    {{ update["justification"] }}
                {% endif %}
            {% else %}
                N/A
            {% endfor %}
        </p>
    </div>
{% endmacro %}
