{% macro assessment_change_request(flag, questions, user_info) %}
    <div class="comment-group">
        <p class="govuk-body">
            <strong>Date:</strong>
            <span class="govuk-!-font-weight-regular govuk-!-margin-right-9">{{ flag.date_created|utc_to_bst }}</span>
            <strong>Assessor: </strong>
            {{ user_info["full_name"] or "N/A" }} {{ user_info["email_address"] }}
        </p>
        <p class="govuk-body">
            {% for field_id in flag.field_ids %}
                <strong>{{ questions[field_id] }}</strong>
            {% endfor %}<br>
            {% for update in flag.updates %}
                {% if update["status"].name == "RAISED" %}
                    {{ update["justification"] }}
                {% endif %}
            {% else %}
                N/A
            {% endfor %}
        </p>
    </div>
{% endmacro %}
