{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}
{% macro criteria_element(criteria, name_classes, application_id, max_possible_sub_criteria_score) %}

{# Determine if the scoring details should be shown #}
{% set show_scoring = g.access_controller.has_any_assessor_role %}

    {% set rows = [] %}
    {% for sub_criteria in criteria.sub_criterias %}
        {% set status %}
            {% if sub_criteria.status == 'NOT_STARTED' %}
                <span class="govuk-tag govuk-tag--blue">Ready for review</span>
            {% elif sub_criteria.status == 'COMPLETED' %}
                <span class="">Complete</span>
            {% elif sub_criteria.status == 'CHANGE_REQUESTED' %}
                <span class="govuk-tag govuk-tag--orange">{{ sub_criteria.status|all_caps_to_human }}</span>
            {% elif sub_criteria.status == 'CHANGE_RECEIVED' %}
                <span class="govuk-tag govuk-tag--yellow">Review changes</span>
            {% elif sub_criteria.status == 'IN_PROGRESS' %}
                <span class="govuk-tag govuk-tag--green">Review in progress</span>
            {% else %}
                <span class="govuk-tag govuk-tag--blue">{{ sub_criteria.status|all_caps_to_human }}</span>
            {% endif %}
        {% endset %}

        {# First column: the link for the sub criteria #}
        {% set row = [] %}
        {% set _ = row.append(
                {
                    "html": '<a class="govuk-link" data-qa="sub_criteria_name" href="{}">{}</a>'.format(
                        url_for(
                            'assessment_bp.display_sub_criteria',
                            application_id=application_id,
                            sub_criteria_id=sub_criteria.id
                        ),
                        sub_criteria.name
                    )
                }
            )
        %}

        {# Optionally add the score column only if the flag is true #}
        {% if show_scoring %}
            {% set _ = row.append({
                "text": sub_criteria.score if sub_criteria.score is not none else "",
                "format": "numeric"
                })
            %}
        {% endif %}

        {# Add the status column #}
        {% set _ = row.append({
            "html": status,
            "format": "numeric"
            })
        %}
        {% set _ = rows.append(row) %}
    {% endfor %}

    {# Optionally add the totals row if scoring details should be shown #}
    {% if show_scoring %}
        {% set _ = rows.append([
            { "html": "<strong>Total criteria score</strong>" },
            { "text": "" },
            { "text": "{} of {}".format(criteria.total_criteria_score, criteria.number_of_scored_sub_criteria * max_possible_sub_criteria_score), "format": "numeric" },
        ]) %}
    {% endif %}

    <h3 class="{{ name_classes or '' }}">{{ criteria.name }}</h3>

    {% if show_scoring %}
        <p class="govuk-body govuk-!-margin-bottom-2">
            <strong>{{ (criteria.weighting * 100)|int }}%</strong> of overall score.
        </p>
    {% endif %}

    {# Build the table header conditionally to match the row columns #}
    {% set table_head = [] %}
    {% set _ = table_head.append({
        "text": "Assessment sub criteria",
        "classes": "govuk-!-width-one-half"
    }) %}
    {% if show_scoring %}
        {% set _ = table_head.append({
            "text": "Score out of " ~ max_possible_sub_criteria_score,
            "format": "numeric"
        }) %}
    {% endif %}
    {% set _ = table_head.append({
        "text": "Status",
        "format": "numeric"
    }) %}


    {{
        govukTable({
            "firstCellIsHeader": false,
            "head": table_head,
            "rows": rows,
            "classes": "govuk-!-margin-bottom-6 govuk-table-no-bottom-border"
        })
    }}

{% endmacro %}
