{% from "common/partials/mhclg-header.html" import mhclgHeader %}
{% from "govuk_frontend_jinja/components/phase-banner/macro.html" import govukPhaseBanner %}
{% from "govuk_frontend_jinja/components/footer/macro.html" import govukFooter %}
{% from "govuk_frontend_jinja/components/service-navigation/macro.html" import govukServiceNavigation %}

{% set assetPath = url_for('static', filename='').rstrip('/') %}
{% extends "govuk_frontend_jinja/template.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='govuk-frontend-5.7.1.min.css') }}" />
{% endblock head %}

{% block header %}
{{ mhclgHeader({
    "productName": "MHCLG Funding",
    "homepageUrl": "#",
    "classes": "govuk-header--full-width-border",
    "navigation": [{"html": "<span class='govuk-visually-hidden'>Logged in as </span>" ~ g.account.email, "href": "#"}, {"text": "Sign out", "href": url_for('proto_apply.web.magic_links_sign_out_handler')}],
    "navigationClasses": "govuk-header__navigation--end"
}) }}

{{ govukServiceNavigation({
  "serviceName": "Apply for funding",
  "navigation": [
    { "href": url_for('proto_apply.application.all_user_application_list_handler'), "text": _("Your grants"), "active": active_navigation_tab == "your_grants" },
  ] if account
}) }}
{% endblock header %}

{# only based on that I don't like it with the "You are applying as " phase banner - can try a few options but #}
{# another is to put feedback as an action in the service nav or in the footer/ during journeys #}

{# {% block beforeContent %}
{% set feedbackMessage %}
{% trans %}This is a new service. Help us improve it and{% endtrans %} <a href="#" class="govuk-link govuk-link--no-visited-state">{% trans %}give your feedback (opens in new tab).{% endtrans %}</a>
{% endset %}

{{ govukPhaseBanner({
    "tag": {
        "text": "Beta"
    },
    "html": feedbackMessage
}) }}
{% endblock beforeContent %} #}

{% block bodyEnd %}
    <script type="module" src="{{ url_for('static', filename='govuk-frontend-5.7.1.min.js') }}"> </script>
    <script type="module" nonce="{{ csp_nonce() }}">
        import { initAll } from "{{ url_for('static', filename='govuk-frontend-5.7.1.min.js') }}"
        initAll()
    </script>
{% endblock %}

{% block footer %}
{{ govukFooter({
    "meta": {
        "items": [
            { "href": url_for("proto_apply.web.cookies_handler"), "text": _("Cookies") },
            { "href": url_for("proto_apply.web.accessibility_statement_handler"), "text": _("Accessibility statement") }
        ]
    }
}) }}
{% endblock footer %}
