{% from "common/partials/mhclg-header.html" import mhclgHeader %}
{% from "govuk_frontend_jinja/components/phase-banner/macro.html" import govukPhaseBanner %}
{% from "govuk_frontend_jinja/components/footer/macro.html" import govukFooter %}
{% from "govuk_frontend_jinja/components/service-navigation/macro.html" import govukServiceNavigation %}

{% set assetPath = url_for('static', filename='').rstrip('/') %}
{% extends "govuk_frontend_jinja/template.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='govuk-frontend-5.7.1.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
{% endblock head %}

{% block header %}
{{ mhclgHeader({
    "productName": "MHCLG Funding",
    "homepageUrl": url_for('proto_apply.grant_blueprint.all_open_grants_handler'),
    "classes": "govuk-header--full-width-border",
    "navigation": [{ "text": _("Sign in"), "href": url_for('proto_apply.application.all_user_application_list_handler') }] if not g.account.email,
    "navigationClasses": "govuk-header__navigation--end"
}) }}

  {% block serviceNavigation %}
    {% set navigationItems = [
        { "href": url_for('proto_apply.grant_blueprint.all_open_grants_handler'), "text": _("Grants"), "active": active_navigation_tab == "grants" }
    ] %}
    {% if g.account.email %}
      {% set __ = navigationItems.append({ "href": url_for('proto_apply.application.all_user_application_list_handler'), "text": _("Applications"), "active": active_navigation_tab == "your_grants" }) %}
    {% endif %}
    {% if g.account.is_platform_admin %}
      {% set __ = navigationItems.append({"href": url_for('proto_manage.platform.grants.index'), "text": "Grant management", "active": false}) %}
    {% elif g.account.email %}
      {% set __ = navigationItems.append({ "href": "#", "text": _("Reporting"), "active": active_navigation_tab == "your_reporting" }) %}
      {% set __ = navigationItems.append({ "href": "#", "text": _("Your organisation"), "active": active_navigation_tab == "your_organisation" }) %}
    {% endif %}
    {{ govukServiceNavigation({
      "navigationClasses": "app-service-navigation--fill" if g.account.is_platform_admin else "",
      "serviceName": _("Access funding"),
      "navigation": navigationItems
    }) }}
  {% endblock serviceNavigation %}
{% endblock header %}

{# only based on that I don't like it with the "You are applying as " phase banner - can try a few options but #}
{# another is to put feedback as an action in the service nav or in the footer/ during journeys #}

{# {% block beforeContent %}
{% set feedbackMessage %}
{% trans %}This is a new service. Help us improve it and{% endtrans %} <a href="#" class="govuk-link govuk-link--no-visited-state">{% trans %}give your feedback (opens in new tab).{% endtrans %}</a>
{% endset %}

{{ govukPhaseBanner({
    "tag": {
        "text": "Beta"
    },
    "html": feedbackMessage
}) }}
{% endblock beforeContent %} #}

{% block bodyEnd %}
    <script type="module" src="{{ url_for('static', filename='govuk-frontend-5.7.1.min.js') }}"> </script>
    <script type="module" nonce="{{ csp_nonce() }}">
        import { initAll } from "{{ url_for('static', filename='govuk-frontend-5.7.1.min.js') }}"
        initAll()
    </script>
{% endblock %}

{% block footer %}
{{ govukFooter({
    "meta": {
        "items": [
            { "href": url_for("proto_apply.web.cookies_handler"), "text": _("Cookies") },
            { "href": url_for("proto_apply.web.accessibility_statement_handler"), "text": _("Accessibility statement") }
        ]
    }
}) }}
{% endblock footer %}
