{% extends "govuk_frontend_jinja/template.html" %}

{% set assetPath = url_for('static', filename='authenticator').rstrip('/') %}

{% set base_title = gettext("Access Funding") if is_error else get_page_title() %}

{% block pageTitle %}{{ [pageHeading, base_title]|join(' - ') if pageHeading else base_title }}{% endblock pageTitle %}

{% block head %}
  {% include "authenticator/head.html" %}
{% endblock head %}

{% block header %}
  {% include "authenticator/header.html" %}
{% endblock header %}

{% block footer %}
  {% include "authenticator/footer.html" %}
{% endblock footer %}

{% block bodyEnd %}
  <!--[if gt IE 8]><!-->
    <script type="module" nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='authenticator/govuk-frontend-5.6.0.min.js') }}"></script>
    <script type="module" nonce="{{ csp_nonce() }}">
        import {initAll} from "{{ url_for('static', filename='authenticator/govuk-frontend-5.6.0.min.js') }}";

        initAll();
    </script>
  <!--<![endif]-->
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <!-- djlint:off -->
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M5J9Q8HV"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
        <!-- djlint:on -->
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
{% endblock bodyEnd %}
