{% from "govuk_frontend_jinja/components/phase-banner/macro.html" import govukPhaseBanner -%}

{% from "govuk_frontend_jinja/components/header/macro.html" import govukHeader %}
{% from "govuk_frontend_jinja/components/service-navigation/macro.html" import govukServiceNavigation %}

{{ govukHeader({
    "homepageUrl": "https://gov.uk",
    "containerClasses": "govuk-width-container",
    "useTudorCrown": true,
    "rebrand": true
}) }}
{{ govukServiceNavigation({
    "serviceName": base_title,
    "serviceUrl": "#",
    "menuButtonLabel": "signout"
    })
}}

<div class="govuk-width-container">
    {{ govukPhaseBanner({
        'tag': {
            'text': gettext('beta')
        },
        'html': gettext('This is a new service.')
    })}}
</div>
