{% from "govuk_frontend_jinja/components/phase-banner/macro.html" import govukPhaseBanner -%}
{% from "authenticator/partials/mhclg-header.html" import mhclgHeader %}

{{
        mhclgHeader(
            params={
                "serviceName": base_title,
                "homepageUrl": "#",
                "assetPath": assetPath,
            }
       )
        }}
<div class="govuk-width-container">
    {{ govukPhaseBanner({
        'tag': {
            'text': gettext('beta')
        },
        'html': gettext('This is a new service.')
    })}}
</div>
