{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}
{% from "govuk_frontend_jinja/components/tag/macro.html" import govukTag %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/inset-text/macro.html" import govukInsetText %}

{% extends "manage/platform/grants_base.html" %}

{% block pageTitle %}{% trans %}Manage grants{% endtrans %} - {% trans %}One Funding Service{% endtrans %}{% endblock %}

{% set previewApplicationHtml %}
<form method="post" action="{{ url_for('proto_manage.platform.reporting_rounds.preview_report', grant_code=grant.short_name, round_ext_id=round.external_id) }}" novalidate>
  {{ form.csrf_token }}
  {{ form.round_id }}
  {{ form.organisation_id }}
  {{ form.preview }}
  {{ form.submit }}
</form>
{% endset %}

{% block content %}
<div class="govuk-grid-row app-sidebar">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">{{ grant.name }}</span>
      Data collection
    </h1>

    {% if round.data_collection_definition.sections | length == 0 %}
      <p class="govuk-body">No questions have been set up for this round yet.</p>

      <a href="{{ url_for('proto_manage.platform.reporting_rounds.choose_from_question_bank', grant_code=grant.short_name, round_ext_id=round.external_id) }}" class="govuk-button">Add questions from the bank</a>
      {{ govukButton({"text": "Add a new section", "href": url_for('proto_manage.platform.reporting_rounds.create_section_view', grant_code=grant.short_name, round_ext_id=round.external_id), "classes": "govuk-button govuk-button--secondary govuk-!-margin-left-2"}) }}
    {% else %}
      {% if not round.preview %}
          {{ govukInsetText({"text": "This can no longer be edited because the round is not in draft mode."}) }}
         {{ previewApplicationHtml }}
      {% else %}
         {{ previewApplicationHtml }}
        <div class="govuk-button-group">
          {{ govukButton({"text": "Add more questions from the bank", "href": url_for('proto_manage.platform.reporting_rounds.choose_from_question_bank', grant_code=grant.short_name, round_ext_id=round.external_id), "classes": "govuk-button govuk-button--secondary"}) }}
          {{ govukButton({"text": "Add a new section", "href": url_for('proto_manage.platform.reporting_rounds.create_section_view', grant_code=grant.short_name, round_ext_id=round.external_id), "classes": "govuk-button govuk-button--secondary govuk-!-margin-left-2"}) }}
        </div>
      {% endif %}

      {% for section in round.data_collection_definition.sections %}
        {% set sectionloop = loop %}
        {% set questionRows = [] %}
        {% for question in section.questions %}
          {% set __ = questionRows.append(
            [
              {"text": ' '},
              {"text": question.title},
              {"html": ("<a class='govuk-link govuk-link--no-visited-state' href='" + url_for('proto_manage.platform.reporting_rounds.edit_question_view', grant_code=grant.short_name, round_ext_id=round.external_id, section_id=section.id, question_id=question.id) + "'>Edit</a>") if round.preview else ' '}
            ]
          ) %}
        {% endfor %}

        {% if round.preview %}
          {% set __ = questionRows.append(
            [
              {"text": ' '},
              {"html": '<a class="govuk-link govuk-link--no-visited-state" href="' ~ url_for('proto_manage.platform.reporting_rounds.create_question_view', grant_code=grant.short_name, round_ext_id=round.external_id, section_id=section.id) ~ '">Add a' ~ ('nother' if section.questions | length) ~ ' question</a>'},
              {"text": ' '}
            ]
          ) %}
        {% endif %}

        {{
          govukTable(
            {
              "caption": section.title,
              "captionClasses": "govuk-table__caption--s",
              "firstCellIsHeader": true,
              "classes": "govuk-!-margin-bottom-2",
              "rows": questionRows,
            }
          )
        }}

        {% if not loop.last %}
          <div class="govuk-!-margin-top-5"></div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>

  <div class="govuk-grid-column-one-quarter app-sidebar__container">
    <nav class="navigation" aria-label="Application round">
      <ul class="govuk-list govuk-list--spaced">
        <li><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="{{ url_for('proto_manage.platform.reporting_rounds.view_reporting_round_overview', grant_code=grant.short_name, round_ext_id=round.external_id) }}">Round overview</a></li>
        <li>
          <p class="govuk-body govuk-!-margin-bottom-1">Configure</p>
          <ul class="govuk-list app-list--dashed">
            <li><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-sidebar__item--active" href="{{ url_for('proto_manage.platform.reporting_rounds.view_reporting_round_data_collection', grant_code=grant.short_name, round_ext_id=round.external_id) }}"><span class="govuk-visually-hidden">Configure </span>Data collection</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="{{ url_for('proto_manage.platform.reporting_rounds.view_reporting_round_configuration', grant_code=grant.short_name, round_ext_id=round.external_id) }}"><span class="govuk-visually-hidden">Configure </span>Round</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
