{% from "common/partials/mhclg-header.html" import mhclgHeader %}
{% from "govuk_frontend_jinja/components/phase-banner/macro.html" import govukPhaseBanner %}
{% from "govuk_frontend_jinja/components/service-navigation/macro.html" import govukServiceNavigation %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/footer/macro.html" import govukFooter %}


{% extends "govuk_frontend_jinja/template.html" %}
{% set assetPath = url_for('static', filename='').rstrip('/') %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='govuk-frontend-5.7.1.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
{% endblock head %}

{% block header %}
{{ mhclgHeader({
    "productName": "MHCLG Funding",
    "homepageUrl": "#",
    "classes": "govuk-header--full-width-border",
    "navigation": [{"html": "<span class='govuk-visually-hidden'>Logged in as </span>" ~ g.account.email, "href": "#"}, {"text": "Sign out", "href": url_for('proto_apply.web.magic_links_sign_out_handler')}],
    "navigationClasses": "govuk-header__navigation--end"
}) }}

{% set navigationItems = [
    {"href": url_for('proto_manage.platform.grants.index'), "text": "Grants", "active": active_navigation_tab == 'grants'},
    {"href": "#", "text": "Applications", "active": active_navigation_tab == 'applications'},
    {"href": "#", "text": "Payments", "active": active_navigation_tab == 'payments'},
    {"href": "#", "text": "Reports", "active": active_navigation_tab == 'reports'},
] %}
{% if g.account.is_platform_admin %}
  {% set _ = navigationItems.append({"href": url_for('admin.index'), "text": "Admin", "active": active_navigation_tab == 'admin'}) %}
{% endif %}
{{ govukServiceNavigation({
  "serviceName": "Grant management",
  "navigationClasses": "app-service-navigation--fill" if g.account.is_platform_admin else "",
  "navigation": navigationItems,
}) }}
{% endblock header %}

{% block beforeContent %}

{% set feedbackMessage %}
{% trans %}This is a new service. Help us improve it and{% endtrans %} <a href="#" class="govuk-link govuk-link--no-visited-state">{% trans %}give your feedback (opens in new tab).{% endtrans %}</a>
{% endset %}

{% if back_link %}
{{ govukBackLink({"href": back_link}) }}
{% endif %}
{% endblock beforeContent %}

{% block bodyEnd %}
    <script type="module" src="{{ url_for('static', filename='govuk-frontend-5.7.1.min.js') }}"> </script>
    <script type="module" nonce="{{ csp_nonce() }}">
        import { initAll } from "{{ url_for('static', filename='govuk-frontend-5.7.1.min.js') }}"
        initAll()
    </script>
{% endblock %}

{% block footer %}
{{ govukFooter({
    "meta": {
        "items": [
            { "href": url_for("proto_manage.web.cookies_handler"), "text": _("Cookies") },
            { "href": url_for("proto_manage.web.accessibility_statement_handler"), "text": _("Accessibility statement") }
        ]
    }
}) }}
{% endblock footer %}
