{% extends "common/fs-base.html" %}

<meta name="description" content="Apply for a Grant">
<meta name="keywords" content="Apply for a Grant">
<meta name="author" content="Ministry of Housing, Communities and Local Government">

{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/cookie-banner/macro.html" import govukCookieBanner %}
{% from "govuk_frontend_jinja/components/skip-link/macro.html" import govukSkipLink %}
{% from "govuk_frontend_jinja/components/header/macro.html" import govukHeader %}
{% from "govuk_frontend_jinja/components/phase-banner/macro.html" import govukPhaseBanner %}
{% from "govuk_frontend_jinja/components/footer/macro.html" import govukFooter %}

{% set serviceName = get_service_title() %}



{% block head %}

  {{super()}}
  <link rel="stylesheet" href="{{ url_for('static', filename='fs/styles/apply.css' ) }}"> </link>
{% endblock head%}

{% block skipLink %}
{{ govukSkipLink({
    "href": "#main-content",
    "text": "Skip to main content"
  })
}}
{% endblock skipLink %}
{% block header %}
  {{ govukHeader({
    "serviceName": serviceName,
    "useTudorCrown": true,
  }) }}
{% endblock header %}

{% set mainClasses = "app-main-class" %}

{% block main %}
  {{ super() }}
{% endblock main %}

{% block beforeContent %}
  {{ govukPhaseBanner({
      "tag": {
        "text": "Beta"
      },
      "html": gettext("This is a new service.")
    })
  }}
{% endblock beforeContent %}


{% block content %}
<h1 class="govuk-heading-xl">Funding Service Apply Template</h1>
{% endblock content %}

{% block footer %}

  {% if fund and round %}
    {% set contactUsUrl%}
      {{ url_for("apply_routes.contact_us", fund_short_name=fund.short_name) }}
    {% endset %}
    {% set privacyUrl%}
      {{ url_for("content_routes.privacy", fund_short_name=fund.short_name, round_short_name=round.short_name) }}
    {% endset %}
  {% else %}
    {% set contactUsUrl%}
      {{ url_for("apply_routes.contact_us") }}
    {% endset %}
    {% set privacyUrl%}
      {{ url_for("content_routes.privacy") }}
    {% endset %}
  {% endif %}
  {{ govukFooter({
    "meta": {
      "items": [
        {
          "href": privacyUrl,
          "text": gettext("Privacy")
        },
        {
          "href": url_for("content_routes.cookie_policy"),
          "text": gettext("Cookies")
        },
        {
          "href": url_for("content_routes.accessibility_statement"),
          "text": gettext("Accessibility Statement")
        },
        {
          "href": contactUsUrl,
          "text": gettext("Contact us")
        }
      ]
    }
  })
  }}
{% endblock footer %}
