{% extends "apply/apply-base.html" %}
{% from "govuk_frontend_jinja/components/inset-text/macro.html" import govukInsetText %}


{% set pageHeading %}{% trans %}Get help with your application{% endtrans %}{% endset %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {% if fund %}
                <p class="govuk-caption-xl">{% trans %}Contact{% endtrans %} {{ fund.name }}</p>
            {% else %}
                <p class="govuk-caption-xl">{% trans %}Contact page{% endtrans %}</p>
            {% endif %}

            <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
            <p class="govuk-body">{% trans %}Contact us if you have any questions{% endtrans %}.</p>
            <p class="govuk-body"><strong>{% trans %}Please contact us through our {% endtrans %}
                <a class="govuk-link" href="{{ support_desk_apply }}" target="_blank">{% trans %}support desk{% endtrans %}</a>.</strong>
            </p>
            <p class="govuk-body">{% trans %}Monday to Friday: 9am to 5pm (except public holidays){% endtrans %}</p>

            {{ govukInsetText({
                "text": gettext("Do not send any applications or attachments through the support desk. We'll only accept applications through this service.")
            }) }}
        </div>
    </div>
{% endblock content %}
