{% extends "apply/apply-base.html" %}
{% from "govuk_frontend_jinja/components/inset-text/macro.html" import govukInsetText %}
{% from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "apply/macros/contact-details.html" import fs_contact_details %}
{% block head %}
    {{super()}}
{% endblock head %}
{% block pageTitle %}
  {% if not fund or not round %}
        {% trans %}Access Funding{% endtrans %}
  {% else %}
    {% if round.is_expression_of_interest %}
        {% trans fund_title=fund.title%}Start or continue an {{ fund_title }}{%endtrans%}
        <!-- TODO Assuming that this is the only round (PFN-RP) that is not going to need the hardcoded text
            "Start or continue an ...". otherwise we need to find a better way to handle this -->
    {% elif round and round.id|string == '9217792e-d8c2-45c8-8170-eed4a8946184' %}
    {% trans fund_title=fund.title%}{{ fund_title }}{%endtrans%}
    {% else %}
        {% trans fund_title=fund.title%}Start or continue an application for {{ fund_title }}{%endtrans%}
    {% endif %}
  {% endif %}
{% endblock pageTitle %}


{% block content %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">{{ fund.name}} {{ round.title }}</span>
            <!-- Reference: See the TODO above for handling hardcoded text "Start or continue an ..." -->
            {% if round.id|string == '9217792e-d8c2-45c8-8170-eed4a8946184' %}
            <h1 class="govuk-heading-xl">{%trans fund_title=fund.title%}{{ fund_title }}{%endtrans%}</h1>
            {% else %}
            <h1 class="govuk-heading-xl">{%trans fund_title=fund.title%}Start or continue an application for {{ fund_title }}{%endtrans%}</h1>
            {% endif %}

            {% if round.is_past_submission_deadline %}

                {% set closed_html %}
                    <p class="govuk-notification-banner__heading">{%trans fund_round_names = fund.name + " " + round.title%}Window closed - {{fund_round_names}}{% endtrans %}</p>
                    <p class="govuk-body">
                        ({% trans closed_date = round.deadline|datetime_format_respect_lang %}Closed: {{ closed_date }}{% endtrans %})
                    </p>
                    <p class="govuk-body">{% trans %}You can no longer submit applications in this window. Any you had in progress will be
            emailed to you.{% endtrans %}
                    </p>
                {%endset%}
                {{govukNotificationBanner({
                    "titleText": _("Important"),
                    "html": closed_html
                })}}
            {% endif %}

            {% set availableInLanguageHtml%}
                {% trans url=url_for('select_language', locale=('cy' if get_lang() == 'en' else 'en' )) %} This service is also available <a href="{{ url }}" class="govuk-link">in Welsh (Cymraeg){% endtrans %}</a>.
            {% endset %}
            {% if fund.welsh_available %}
                {{ govukInsetText({
                "html": availableInLanguageHtml
                }) }}
            {% endif %}
            {% if round.instructions %}
                <p class="govuk-body">
                    {{ round.instructions | safe }}
                </p>
            {% endif %}
            {% if round.prospectus %}
            <p class="govuk-body">
                {% trans prospectus_link=round.prospectus %}<a class="govuk-link" href="{{ prospectus_link }}">Read the fund's prospectus</a> before you start.{% endtrans %}
            </p>
            {% endif %}
            {% if not round.is_expression_of_interest %}
                <p class="govuk-body">
                    <strong>{% trans %}Submission deadline:{% endtrans %} </strong>{{round.deadline|datetime_format_respect_lang}}
                </p>
            {% endif %}
            {{ govukButton({
                "isStartButton": true,
                "href" : url_for("magic_links_bp.new", fund=fund.short_name, round=round.short_name),
                "text": _("Enter your email address")
            }) }}
            <h2 class="govuk-heading-m">{% trans %}Get help with your application{% endtrans %} </h2>

            {{ fs_contact_details(support_desk_apply) }}
        </div>
      </div>


{% endblock %}
