{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary %}

{% extends "apply/base.jinja.html" %}

{% block pageTitle %}{% trans %}Application{% endtrans %} {{ application.code }} - {% trans %}Apply for funding{% endtrans %}{% endblock %}

{% block beforeContent %}
{{ super() }}
{{ govukBackLink({
  "text": "Go back to application overview",
  "href": url_for("proto_apply.application.application_tasklist", application_id=application.id)
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if form.errors %}
        {{ govukErrorSummary(wtforms_errors(form)) }}
    {% endif %}

    <h1 class="govuk-heading-l">{% trans %}Check your answers{% endtrans %}</h1>

    {% set rowData = [] %}
    {% for question in section.questions %}
      {% set answer = get_answer_text_for_question_from_section_data(question, section_data) %}

      {% set valueHtml %}
        {% if answer %}
          <span>{{ answer }}</span>
        {% else %}
          <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('proto_form_runner.ask_application_question', application_id=application.id, section_slug=section.slug, question_slug=question.slug, from_cya='') }}">
            {# this should use the question "name" which I should add to record alongside it #}
            {# i.e project name - What is your project name? #}
            {% trans %}Enter answer{% endtrans %}
          </a>
        {% endif %}
      {% endset %}
      {% set _ = rowData.append(
          {
            "key": { "text": question.title },
            "value": { "html": valueHtml },
            "actions": {
              "items": [
                { "href": url_for('proto_form_runner.ask_application_question', application_id=application.id, section_slug=section.slug, question_slug=question.slug, from_cya=''), "text": "Change", "visuallyHiddenText": question.title, "classes": "govuk-link--no-visited-state" }
              ] if answer
            }
          }
        ) %}
    {% endfor %}
    {{
      govukSummaryList({
        "rows": rowData
      })
    }}

    <form method="post" novalidate>
      {{ form.csrf_token }}
      {{ form.complete(params={"classes": "govuk-radios--inline"}) }}
      {{ form.submit }}
    </form>
  </div>
</div>
{% endblock %}
