{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary %}

{% extends "apply/base.jinja.html" %}

{% block pageTitle %}{% trans %}Application{% endtrans %} {{ application.code }} - {% trans %}Apply for funding{% endtrans %}{% endblock %}

{% block beforeContent %}
{{ super() }}
<div class="govuk-phase-banner">
    <div class="proto-phase govuk-!-padding-top-1 govuk-!-padding-bottom-1">
        <p class="govuk-phase-banner__content">
            {% set email %}<strong class="govuk-!-font-weight-bold">{{ account.email }}</strong>{% endset %}
            <span class="govuk-phase-banner__text">{% trans email=email %}You are applying as {{ email }}{% endtrans %}</span>
        </p>
    </div>
</div>

{% if application.fake or (application.round and application.round.is_draft) %}
<style nonce="{{ csp_nonce() }}">
    {# reset a few nav things that don't play nicely with this #}
    .govuk-service-navigation__item, .govuk-service-navigation__service-name {
        border: 0;
    }
    .govuk-service-navigation__item--active {
        font-weight: bold;
    }
</style>
 <div class="test-data-banner govuk-body govuk-!-margin-bottom-2">
    <div class="test-data-tag">
        <strong>Preview application</strong>
    </div>
</div>
{% endif %}


{% if back_link %}
  {{ govukBackLink({
    "text": _("Back"),
    "href": back_link
  }) }}
{% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if form.errors %}
        {{ govukErrorSummary(wtforms_errors(form)) }}
    {% endif %}

    <form method="post" novalidate>
      {{ form.csrf_token }}

      <span class="govuk-caption-l">{{ section.title }}</span>

      {% if question.type == QuestionType.TEXT_INPUT %}
        {{ form.question(params={"label": {"isPageHeading": true, "classes": "govuk-label--l"} }) }}
      {% elif question.type == QuestionType.TEXTAREA %}
        {{ form.question(params={"label": {"isPageHeading": true, "classes": "govuk-label--l"} }) }}
      {% elif question.type == QuestionType.RADIOS %}
        {# govuk-frontend-wtf doesn't seem to be merging this properly - without explicitly re-setting fieldset.legend.text, there's no visible question =[ #}
        {{ form.question(params={"fieldset": {"legend": {"isPageHeading": true, "classes": "govuk-fieldset__legend--l", "text": form.question.label.text} } }) }}
      {% elif question.type == QuestionType.NUMBER %}
        {{ form.question(params={"label": {"isPageHeading": true, "classes": "govuk-label--l"}, "inputmode": "numeric", "spellcheck": false }) }}
      {% elif question.type == QuestionType.POUNDS_AND_PENCE %}
        {{ form.question(params={"label": {"isPageHeading": true, "classes": "govuk-label--l"}, "inputmode": "numeric", "spellcheck": false, "prefix": {"text": "£" } }) }}
      {% elif question.type == QuestionType.LIST_AUTOCOMPLETE %}
        {{ form.question(params={"label": {"isPageHeading": true, "classes": "govuk-label--l"} }) }}
      {% endif %}

      {{ form.submit }}
    </form>
  </div>
</div>
{% endblock %}

{% block bodyEnd %}
<script src="https://cdn.jsdelivr.net/npm/accessible-autocomplete@3.0.1/dist/accessible-autocomplete.min.js" nonce="{{ csp_nonce() }}"></script>
<link href="https://cdn.jsdelivr.net/npm/accessible-autocomplete@3.0.1/dist/accessible-autocomplete.min.css" nonce="{{ csp_nonce() }}" rel="stylesheet">

<script none="{{ csp_nonce() }}">
accessibleAutocomplete.enhanceSelectElement({
  selectElement: document.querySelector('#{{ form.question.id }}'),
  showAllValues: true,
  displayMenu: 'overlay'
})
</script>
{% endblock %}
