
{% set acceptHtml %}
<p class="govuk-body">{% trans %}You've accepted analytics cookies. You can{% endtrans %} <a class="govuk-link"
        href="{{ url_for('content_routes.cookie_policy') }}">{% trans %}change your cookie settings{% endtrans %}</a> {%
    trans %}at any time.{% endtrans %}</p>
{% endset %}

{% set denyHtml %}
<p class="govuk-body">{% trans %}You've rejected analytics cookies. You can{% endtrans %} <a class="govuk-link"
        href="{{ url_for('content_routes.cookie_policy') }}">{% trans %}change your cookie settings{% endtrans %}</a> {%
    trans %}at any time.{% endtrans %}</p>

{% endset %}

{% set cookiesChoiceHtml %}
<p class="govuk-body">{% trans %}We use some essential cookies to make this service work.{% endtrans %}</p>
<p class="govuk-body">{% trans %}We'd also like to use analytics cookies so we can understand how you use the service and make improvements.{% endtrans %}</p>
{% endset %}

{{ govukCookieBanner({
    "ariaLabel": gettext("Cookies on Access Funding"),
    "hidden": true,
    "attributes": {"id": "cookies-accepted-banner"},
    "messages": [
        {
            "html": acceptHtml,
            "actions": [
                {
                    "attributes": {"id": "hide-cookies-btn"},
                    "text": gettext("Hide cookie message"),
                    "type": "submit",
                    "name": "cookies-hide-btn",
                    "value": "yes"
                }
            ]
        }
    ]
    })
}}
{{ govukCookieBanner({
    "ariaLabel": gettext("Cookies on Access Funding"),
    "hidden": true,
    "attributes": {"id": "cookies-denied-banner"},
    "messages": [
        {
            "html": denyHtml,
            "actions": [
                {
                    "attributes": {"id": "hide-cookies-btn"},
                    "text": gettext("Hide cookie message"),
                    "type": "submit",
                    "name": "cookies-hide-btn",
                    "value": "yes"
                }
                ]
        }
    ]
    })
}}
{{ govukCookieBanner({
    "ariaLabel": gettext("Cookies on Access Funding"),
    "attributes":{"id":"cookies-choice-banner"},
    "hidden": true,
    "messages": [
        {
            "headingText": gettext("Cookies on Access Funding"),
            "html": cookiesChoiceHtml,
            "actions": [
                {
                    "attributes":{"id":"accept-cookies-btn"},
                    "text": gettext("Accept analytics cookies"),
                    "type": "submit",
                    "name": "cookies[analytics]",
                    "value": "yes"
                },
                {
                    "attributes":{"id":"deny-cookies-btn"},
                    "text": gettext("Reject analytics cookies"),
                    "type": "submit",
                    "name": "cookies[analytics]",
                    "value": "no"
                },
                {
                    "text": gettext("View cookies"),
                    "href": url_for('content_routes.cookie_policy')
                }
            ]
        }
    ]
}) }}
