

  <script nonce="{{ csp_nonce() }}" type="text/javascript"
    src="{{ url_for('static', filename='apply/js/fsd_cookies.js') }}"></script>

 <script nonce="{{ csp_nonce() }}">


    <!--Re-implemented these from fsd_cookies.js to avoid conflicts and use a better structure for the elements that utilises the gov uk frontend macros-->

    function acceptCookiesMono() {
        updateCookieConsent('granted');
        hideCookiesMessageMono();
        document.getElementById("cookies-accepted-banner").removeAttribute("hidden");
    }

    function denyCookiesMono() {
        updateCookieConsent('denied');
        hideCookiesMessageMono();
        document.getElementById("cookies-denied-banner").removeAttribute("hidden");
    }

    function unhideCookiesMessageMono() {
        document.getElementById("cookies-choice-banner").removeAttribute("hidden");
    }

    function hideCookiesMessageMono() {
        document.getElementById("cookies-choice-banner").setAttribute("hidden", "true");
        document.getElementById("cookies-accepted-banner").setAttribute("hidden", "true");
        document.getElementById("cookies-denied-banner").setAttribute("hidden", "true");
    }

    function initCookieStateMono() {
      const localConsentMode = readConsentCookie();

      if (!localConsentMode) {
        gtag('consent', 'default', DEFAULT_CONSENT);
        unhideCookiesMessageMono();
      } else {
        gtag('consent', 'default', readConsentCookie());
      }

      document.getElementById("accept-cookies-btn").addEventListener("click", acceptCookiesMono);
      document.getElementById("deny-cookies-btn").addEventListener("click", denyCookiesMono);
      document.getElementsByName("cookies-hide-btn").forEach(element => {
        element.addEventListener("click", hideCookiesMessageMono);
      });
    }

    initCookieStateMono();

  </script>
