{% from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}

{% extends "manage/base.jinja.html" %}

{% block pageTitle %}{% trans %}Grant recipients{% endtrans %} - {% trans %}One Funding Service{% endtrans %}{% endblock %}

{% block beforeContent %}
{{ super() }}
{{ govukBreadcrumbs({
    "items": [
    { "text": grant.proto_name, "href": url_for("proto_manage.platform.grants.view_grant_overview", grant_code=grant.short_name) },
    { "text": "Recipients", "href": url_for('proto_manage.platform.recipients.index') },
    { "text": recipient.organisation.name, "href": "#" }
    ]
})}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ recipient.organisation.name }}</h1>
  </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {{ govukSummaryList({
          "rows": [
              { "key": { "text": _("Funding allocated") }, "value": { "text": '£' ~ recipient.funding_allocated }, "actions": {"items": [{"href": url_for("proto_manage.platform.recipients.update_grant_recipient_funding_allocation", short_code=grant.short_name, recipient_id=recipient.id), "text": "Change", "classes": "govuk-link--no-visited-state"}] } },
              { "key": { "text": _("Funding paid") }, "value": { "text": "£" ~ recipient.funding_paid }, "actions": {"items": [{"href": "#", "text": "Make a payment", "classes": "govuk-link--no-visited-state"}] } },
              { "key": { "text": _("Projects") }, "value": { "html": "Rebuilding the local chapel<br>Carrying hedgehogs across the road" }, "actions": {"items": [{"href": "#", "text": "Manage", "classes": "govuk-link--no-visited-state"}] } },
          ]
      })}}
  </div>
</div>
{% endblock %}
