{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}
{% from "govuk_frontend_jinja/components/details/macro.html" import govukDetails %}
{% from "govuk_frontend_jinja/components/tag/macro.html" import govukTag %}
{% from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}

{% extends "manage/platform/grants_base.html" %}

{% block pageTitle %}{{ _("Update question") if is_edit else _("Add a question")}} - {% trans %}One Funding Service{% endtrans %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if form.errors %}
        {{ govukErrorSummary(wtforms_errors(form)) }}
    {% endif %}

    <h1 class="govuk-heading-l">{{ _("Update question") if is_edit else _("Add a question") }}</h1>

    <form method="post" novalidate>
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label">Question type</label>
        </h2>
        <p class="govuk-body">{{ question_type_human_readable }}</p>
      </div>

      {{ form.csrf_token }}
      {{ form.order }}

      {{ form.type }}

      {% set helpWithCustomisation %}
      {{ govukDetails({
        "summaryText": "Including contextual information",
        "html": "
<p class='govuk-hint'>
  You can insert information into your questions dynamically based on the context of the data collection or user.
</p>
<p class='govuk-hint'>
  To add dynamic data, type two brackets <code class='lang-md'>((</code> and then use the context menu to select which piece of data to insert.
  There must be two matching closing brackets <code class='lang-md'>))</code> following the contextual information.
</p>
<p class='govuk-hint'>
  For example:
<pre class='formatting-example'><code class='lang-md'>How much funding is ((organisation.name)) applying for?</code></pre>
        "
      }) }}
      {% endset %}
      {{ form.title(params={"attributes": {"data-mhclg-module": "autocomplete", "spellcheck": false}, "hint": {"html": helpWithCustomisation} }) }}
      {{ form.hint(params={"attributes": {"data-mhclg-module": "autocomplete", "spellcheck": false}, "hint": {"html": helpWithCustomisation} }) }}

{#      {{ form.mandatory(params={"items": [{}, {"hint": {"text": "We’ll add ‘(optional)’ to the end of the question text."} }]}) }}  {# gross hack #}

      {% if question %}
      <h2 class="govuk-heading-m">Conditions</h2>
      <p class="govuk-body">You can use answers from other questions in your data collection to decide if your user should be asked this question.</p>

      {% if question and question.conditions %}

      {% set rows = [] %}

      {% for condition in question.conditions %}

        {% set type = "Custom expression" if not (condition.options and condition.options.key) else "" %}
        {# {% set depends_on = "" %} #}

        {% set rows = rows.append({
          "key": { "text": type },
          "value": { "text": condition.expression },
          "actions": {
            "items": [
              { "href": url_for('proto_manage.platform.rounds.edit_condition', grant_code=grant.short_name, round_code=round.short_name, section_id=section.id, question_id=question.id, condition_id=condition.id) if round is defined else url_for('proto_manage.platform.reporting_rounds.edit_condition', grant_code=grant.short_name, round_ext_id=reporting_round.external_id, section_id=section.id, question_id=question.id, condition_id=condition.id), "text": "Manage" }
            ]
          }
        }) %}
      {% endfor %}

      {{ govukSummaryList({
        "rows": rows
      }) }}

      {% endif %}

      {# I think add condition as an action link in the final row of the summary table is clean from elsewhere #}
      {# do this for now if the table is there or not #}
      <p class="govuk-body">{{ govukButton({"text": "Add a check", "href": url_for('proto_manage.platform.rounds.create_condition', grant_code=grant.short_name, round_code=round.short_name, section_id=section.id, question_id=question.id) if round is defined else url_for('proto_manage.platform.reporting_rounds.create_condition', grant_code=grant.short_name, round_ext_id=reporting_round.external_id, section_id=section.id, question_id=question.id), "classes": "govuk-button--secondary"}) }}</p>


      <h2 class="govuk-heading-m">Validation</h2>
      <p class="govuk-body">You can add rules to help your users provide answers that are correct and align with data standards.</p>

      {% if question and question.validations %}

      {% set rows = [] %}

      {% for validation in question.validations %}

        {# this shouldn't just use the key, the "value" can also show something nice like just the min #}
        {# or max configured option #}
        {% set type = "Custom expression" if not (validation.options and validation.options.key) else validation.options.key %}
        {# {% set depends_on = "" %} #}

        {% set rows = rows.append({
          "key": { "text": type },
          "value": { "text": validation.expression },
          "actions": {
            "items": [
              { "href": url_for('proto_manage.platform.rounds.edit_validation', grant_code=grant.short_name, round_code=round.short_name, section_id=section.id, question_id=question.id, validation_id=validation.id), "text": "Manage" }
              if round is defined else
              { "href": url_for('proto_manage.platform.reporting_rounds.edit_validation', grant_code=grant.short_name, round_ext_id=reporting_round.external_id, section_id=section.id, question_id=question.id, validation_id=validation.id), "text": "Manage" }
            ]
          }
        }) %}
      {% endfor %}

      {{ govukSummaryList({
        "rows": rows
      }) }}

      {% endif %}
      {# only added it for numbers for now, this will be removed when its uniform #}
      {% set add_validation_handler = 'proto_manage.platform.rounds.create_simple_validation' if question.type == 'NUMBER' else 'proto_manage.platform.rounds.create_validation' %}
      <p class="govuk-body">{{ govukButton({"text": "Add validation", "href": url_for(add_validation_handler, grant_code=grant.short_name, round_code=round.short_name, section_id=section.id, question_id=question.id) if round is defined else url_for('proto_manage.platform.reporting_rounds.create_validation', grant_code=grant.short_name, round_ext_id=reporting_round.external_id, section_id=section.id, question_id=question.id), "classes": "govuk-button--secondary"}) }}</p>
      {% else %}
        <h2 class="govuk-heading-m">Conditions and validation</h2>
        <p class="govuk-body">
          You can create conditional rules and validation checks after creating the question.
        </p>
      {% endif %}
      {{ form.submit() }}
    </form>
  </div>
</div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}

  {% from 'common/partials/autocomplete.html' import initialiseAutocomplete %}
  {{ initialiseAutocomplete(autocomplete_context) }}
{% endblock %}
