{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}
{% from "govuk_frontend_jinja/components/tag/macro.html" import govukTag %}
{% from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "govuk_frontend_jinja/components/details/macro.html" import govukDetails %}

{% extends "manage/platform/grants_base.html" %}

{% set title = _("Update custom validation") if is_edit else _("Add custom validation") %}

{% block pageTitle %}{{ title }} - {% trans %}One Funding Service{% endtrans %}{% endblock %}

{% set helpWithCustomisation %}
      <div class="govuk-hint">
        This determines whether the user's answer is valid or not. You can use this to make sure their answer is correct and aligns with data standards. If the rule evaluates as correct, the user's answer will be accepted.
      </div>
      {{ govukDetails({
        "summaryText": "How to write validation rules",
        "html": "
<p class='govuk-hint'>
  Validation rules are statements that decide whether a user's answer should be accepted or rejected.
</p>
<p class='govuk-hint'>
  You can check the answer the user has submitted for this question, as well other data relevant to the user's context, such as their organisation or recipient profile.
  To include this data, type two brackets <code class='lang-md'>((</code> and then use the context menu to select which piece of data to insert.
  There must be two matching closing brackets <code class='lang-md'>))</code> following the contextual information.
</p>
<p class='govuk-hint'>
  The rule can contain operations such as:
  <ul class='govuk-list govuk-list--bullet govuk-hint'>
    <li>addition: +</li>
    <li>subtraction: -</li>
    <li>multiplication: *</li>
    <li>division: /</li>
  </ul>
</p>
<p class='govuk-hint'>
  Some examples of validation rules are:
<pre class='formatting-example'><code class='lang-md'>(( answer )) > 10000 </code></pre>
<pre class='formatting-example'><code class='lang-md'>(( answer )) * 5 == 100</code></pre>
<pre class='formatting-example'><code class='lang-md'>(( answer )) <= (( application.project_information.funding_requested ))</code></pre>"
      }) }}
{% endset %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if form.errors %}
        {{ govukErrorSummary(wtforms_errors(form)) }}
    {% endif %}


    <span class="govuk-caption-m">{{ question.title }}</span>
    <h1 class="govuk-heading-l">{{ title }}</h1>

     <form method="post" novalidate>

      {{ form.csrf_token }}
      {{ form.expression(params={"attributes": {"data-mhclg-module": "autocomplete", "spellcheck": false}, "hint": {"html": helpWithCustomisation} })}}
      {{ form.message(params={"attributes": {"data-mhclg-module": "autocomplete", "spellcheck": false}, "hint": {"text": "If the rule is broken, this will be shown to the user and they will have to change their answer."} }) }}

      {{ form.submit(params={ "text": _("Update validation") if is_edit else _("Add validation")  }) }}
    </form>
  </div>

</div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}

  {% from 'common/partials/autocomplete.html' import initialiseAutocomplete %}
  {{ initialiseAutocomplete(autocomplete_context) }}
{% endblock %}
