{% extends "manage/base.jinja.html" %}

{# not convinced this is the best way but works for now with all inheriting templates behaving as expected #}
{% block main %}
<div class="govuk-width-container {%- if containerClasses %} {{ containerClasses }}{% endif %}">
    {% block beforeContent %}{% endblock %}
    <main class="govuk-main-wrapper {%- if mainClasses %} {{ mainClasses }}{% endif %}" id="main-content" {%- if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="fs-container">
            <nav class="fs-left govuk-body">
                <ul>
                    <li class="fs-nav-item">
                        {# adding the override class here manually is a workaround - make the first child css selector play nice #}
                        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline govuk-!-padding-top-0 selected">{% trans %}Dashboard{% endtrans %}</a>
                    </li>
                    <li class="fs-nav-item">
                        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">{% trans %}Manage users{% endtrans %}</a>
                    </li>
                    <li class="fs-nav-item">
                        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">{% trans %}Settings{% endtrans %}</a>
                    </li>
                </ul>
            </nav>
            <div class="fs-right">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
