{% from "govuk_frontend_jinja/components/tag/macro.html" import govukTag %}

{% extends "manage/base.jinja.html" %}

{% block pageTitle %}{% trans %}Manage grants{% endtrans %} - {% trans %}One Funding Service{% endtrans %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">My grants</h1>

    <p class="govuk-body">{% trans number_of_grants=grants | length %}You have access to {{ number_of_grants }} grants.{% endtrans %}</p>
    <a href="{{ url_for('proto_manage.platform.grants.create_grant_view') }}" class="govuk-button govuk-button--secondary">{% trans %}Set up a new grant{% endtrans %}</a>
  <br>

    {% for grant in (grants | sort(attribute='proto_created_date', reverse=true)) %}
      <h2 class="govuk-heading-s govuk-!-display-inline">
        <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('proto_manage.platform.grants.view_grant_overview', grant_code=grant.short_name) }}">{{ grant.short_name }}: {{ grant.name_json.en }}</a></h2>

      {{ govukTag({"text": grant.proto_status.value|title, "classes": "govuk-tag--" ~ grant.status_colour}) }}

      {% if grant.rounds | length %}
      <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-1">
        <span class="govuk-!-font-weight-bold">Rounds:</span> {% for status, items in grant.rounds | groupby('status') %}{{ items|length }} {{ status }}{% if not loop.last %}, {% endif %}{% endfor %}
      </p>
      {% endif %}
      <p class="govuk-body govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Applications:</span> {{ grant.applications | length }}</p>
      <p class="govuk-body"><span class="govuk-!-font-weight-bold">Recipients:</span> {{ grant.recipients | length }}</p>

      {% if not loop.last %}
        <hr class="govuk-section-break--m" />
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
