{% from "govuk_frontend_jinja/components/tag/macro.html" import govukTag %}
{% from "govuk_frontend_jinja/components/details/macro.html" import govukDetails %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% extends "manage/platform/grants_base.html" %}

{% block pageTitle %}{{ grant.name }} - {% trans %}Funding service{% endtrans %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {# don't judge me pls #}
        {% set shouldInlineTag = (grant.name | length) <= 25 %}
        {% if shouldInlineTag %}<div class="fs-align-status-tag govuk-!-margin-bottom-6">{% endif %}
        <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
            {{ grant.name }}
        </h1>
        {{ govukTag ({
            "text": _("Draft"),
            "classes": "govuk-tag--grey" + (" govuk-!-margin-top-1" if not shouldInlineTag else "")
        }) }}
        {% if shouldInlineTag %}</div>{% endif %}
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-s">{% trans %}In the last month{% endtrans %}</h3>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="govuk-heading-l govuk-!-margin-bottom-0">6</div>
        <div class="govuk-body">funding applications</div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="govuk-heading-l govuk-!-margin-bottom-0">0</div>
        <div class="govuk-body">monitoring reports</div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="govuk-heading-l govuk-!-margin-bottom-0">£0</div>
        <div class="govuk-body">total paid out</div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        {% set yourGrantsLinksHtml %}
            <p class="govuk-body">You've got some links</p>
            {% set applyLink = url_for('proto_apply.grant_blueprint.grant_detail_handler', short_code=grant.short_name) %}
            <a class="govuk-link govuk-link--no-visited-state" href="{{ applyLink }}">https://apply.communities.gov.uk/grant/{{ grant.short_name }}</a>
        {% endset %}
        {{ govukDetails({
            "summaryText": _("Your grants published links"),
            "html": yourGrantsLinksHtml
        })}}
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-6">
        <h2 class="govuk-heading-m">{% trans %}Funding{% endtrans %}</h2>
        {% set uncompetedLink %}<a class="govuk-link govuk-link--no-visited-state" href="#">{% trans %}un-competed grants{% endtrans %}</a>{% endset %}
        <p class="govuk-body">{% trans link=uncompetedLink %}See guidance on {{ link }} to let your users set up grant recipient profiles.{% endtrans %}</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible">

        {# note we only need padding on desktop, on mobile it gets very spaced out #}
        {{ govukSummaryList({
            "rows": [
                {
                    "key": {
                        "text": _("Recipients"),
                        "classes": "govuk-!-padding-top-4 govuk-!-padding-bottom-4"
                    },
                    "value": { "text": "0 awarded grant recipients" },
                    "actions": {
                        "items": [
                            { "text": _("Manage"), "href": "#", "classes": "govuk-link--no-visited-state" },
                        ]
                    },
                },
                {
                    "key": {
                        "text": _("Application rounds"),
                        "classes": "govuk-!-padding-top-4 govuk-!-padding-bottom-4"
                    },
                    "value": { "text": "Preview round open" },
                    "actions": {
                        "items": [
                            { "text": _("Manage"), "href": "#", "classes": "govuk-link--no-visited-state" },
                        ]
                    }
                },
                {
                    "key": {
                        "text": _("Application information"),
                        "classes": "govuk-!-padding-top-4 govuk-!-padding-bottom-4"
                    },
                    "value": { "text": "16 questions across 3 sections" },
                    "actions": {
                        "items": [
                            { "text": _("Manage"), "href": "#", "classes": "govuk-link--no-visited-state" },
                        ]
                    },
                    "classes": "govuk-!-padding-top-2 govuk-!-padding-bottom-2"
                }

            ]
        }) }}
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">{% trans %}Monitoring and evaluation{% endtrans %}</h2>
        {% set uncompetedLink %}<a class="govuk-link govuk-link--no-visited-state" href="#">{% trans %}un-competed grants{% endtrans %}</a>{% endset %}
        <p class="govuk-body">{% trans link=uncompetedLink %}Competed grants must be awarded to applicants that have been scored. See guidance on {{ link }} to let your users set up grant recipient profiles without applying.{% endtrans %}</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible">

        {# note we only need padding on desktop, on mobile it gets very spaced out #}
        {{ govukSummaryList({
            "rows": [
                {
                    "key": { "text": _("Recipients") },
                    "value": { "text": "0 awarded grant recipients" },
                    "actions": {
                        "items": [
                            { "text": _("Manage"), "href": "#" },
                        ]
                    },
                    "classes": "govuk-!-padding-top-2 govuk-!-padding-bottom-2"
                },
                {
                    "key": { "text": _("Application rounds") },
                    "value": { "text": "Preview round open" },
                    "actions": {
                        "items": [
                            { "text": _("Manage"), "href": "#" },
                        ]
                    },
                    "classes": "govuk-!-padding-top-2 govuk-!-padding-bottom-2"
                },
                {
                    "key": { "text": _("Application information") },
                    "value": { "text": "16 questions across 3 sections" },
                    "actions": {
                        "items": [
                            { "text": _("Manage"), "href": "#" },
                        ]
                    },
                    "classes": "govuk-!-padding-top-2 govuk-!-padding-bottom-2"
                }

            ]
        }) }}
    </div>
</div>
{% endblock %}
