{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}
{% from "govuk_frontend_jinja/components/tag/macro.html" import govukTag %}
{% from "govuk_frontend_jinja/components/inset-text/macro.html" import govukInsetText %}

{% extends "manage/platform/grants_base.html" %}

{% block pageTitle %}{% trans %}Settings{% endtrans %} - {{ grant.name }} - {% trans %}One Funding Service{% endtrans %}{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">{{ grant.name }}</span>
      {% trans %}Settings{% endtrans %}
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if grant.is_draft %}
      {% if grant.rounds|rejectattr("is_draft")|list|length == 0 %}
        {% set insetText %}
          <p>
            You cannot make this grant live until some application rounds have been set up.
            <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('proto_manage.platform.grants.view_grant_rounds', grant_code=grant.short_name) }}">Manage application rounds</a>.
          </p>
        {% endset %}
        {{ govukInsetText({"html": insetText}) }}
      {% else %}
        <form method="post">
          {{ form.csrf_token }}
          {{ form.submit }}
        </form>
      {% endif %}
    {% endif %}

    {% set editLinkHtml = "<a class='govuk-link govuk-link--no-visited-state' href='" + url_for('fund.edit_view', id=grant.id, url=url_for('proto_manage.platform.grants.view_grant_configuration', grant_code=grant.short_name)) + "'>Edit</a>" %}

    {# [{"text": "Name (Welsh)"}, {"text": grant.name_json.cy}, {"html": editLinkHtml}], #}
    {# [{"text": "Title (Welsh)"}, {"text": grant.title_json.cy}, {"html": editLinkHtml}], #}
    {# [{"text": "Description (Welsh)"}, {"text": grant.description_json.cy}, {"html": editLinkHtml}], #}
    {{
      govukTable(
        {
          "firstCellIsHeader": true,
          "rows": [
            [{"text": "Code"}, {"text": grant.short_name}, {"html": editLinkHtml}],
            [{"text": "Name"}, {"text": grant.name_json.en}, {"html": editLinkHtml}],
            [{"text": "Title"}, {"text": grant.title_json.en}, {"html": editLinkHtml}],
            [{"text": "Description"}, {"text": grant.description_json.en}, {"html": editLinkHtml}],
            [{"text": "Funding type"}, {"text": grant.funding_type.value}, {"html": editLinkHtml}],
            [{"text": "Organisation name"}, {"text": grant.owner_organisation_name}, {"html": editLinkHtml}],
            [{"text": "Organisation code"}, {"text": grant.owner_organisation_shortname}, {"html": editLinkHtml}],
            [{"text": "GGIS reference"}, {"text": grant.ggis_scheme_reference_number}, {"html": editLinkHtml}],
          ],
          "classes": "govuk-!-margin-top-4"
        }
      )
    }}
  </div>
</div>
{% endblock %}
