{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}
{% from "govuk_frontend_jinja/components/tag/macro.html" import govukTag %}
{% from "govuk_frontend_jinja/components/inset-text/macro.html" import govukInsetText %}

{% extends "manage/platform/grants_base.html" %}

{% block pageTitle %}{% trans %}Manage grants{% endtrans %} - {% trans %}One Funding Service{% endtrans %}{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">{{ grant.name }}</span>
      Reporting rounds
    </h1>
  </div>
</div>
<div class="govuk-grid-row app-sidebar">
  <div class="govuk-grid-column-two-thirds">
    {% if grant.can_create_a_reporting_round %}
      <a href="{{ url_for('proto_manage.platform.reporting_rounds.create_reporting_round_view', grant_code=grant.short_name) }}" class="govuk-button">Create a new reporting round</a>
    {% else %}
      <button href="{{ url_for('proto_manage.platform.reporting_rounds.create_reporting_round_view', grant_code=grant.short_name) }}" class="govuk-button govuk-!-margin-bottom-2" disabled>Create a new reporting round</button>
      {{ govukInsetText({
          "text": "You cannot create another reporting round while there is still one in preview.",
          "classes": "govuk-!-margin-top-0",
      }) }}
    {% endif %}
    <br>

    {% for round in (grant.reporting_rounds | sort(attribute='created_at', reverse=true) | sort(attribute='start_date', reverse=true)) %}
      <h4 class="govuk-!-display-inline">
        <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('proto_manage.platform.reporting_rounds.view_reporting_round_overview', grant_code=round.grant.short_name, round_ext_id=round.external_id) }}">{{ round.title }}</a>
      </h4>
      {{ govukTag({"text": round.status|title, "classes": "govuk-tag--" ~ round.status_colour}) }}

      <p class="govuk-body govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Reports in progress:</span> 0</p>
      <p class="govuk-body govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Reports completed:</span> 0</p>

      {% if not loop.last %}
        <hr class="govuk-section-break--m" />
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
