{% extends "govuk_frontend_jinja/template.html" %}

{% from "assess/partials/mhclg-header.html" import mhclgHeader %}

{% set assetPath = url_for('static', filename='assess').rstrip('/') %}

{% block pageTitle %}{{ [pageHeading.rstrip('\n'), service_title]|join(' – ') if pageHeading else service_title }}{% endblock pageTitle %}

{% block head %}
  {% include "assess/head.html" %}
{% endblock head %}

{% block header %}
  {{ mhclgHeader({
    "homepageUrl": "/",
    "serviceName": "Assess grant applications",
  }) }}
{% endblock header %}

{% block main %}
  <div class="govuk-width-container {%- if containerClasses %} {{ containerClasses }}{% endif %}">
    {% block beforeContent %}{% endblock beforeContent %}
    <main class="govuk-main-wrapper {%- if mainClasses %} {{ mainClasses }}{% endif %}" id="main-content" {%- if mainLang %} lang="{{ mainLang }}"{% endif %}>
      {% block content %}{% endblock content %}
    </main>
  </div>
{% endblock %}

{% block footer %}
  {% include "assess/footer.html" %}
{% endblock footer %}

{% block bodyEnd %}
  <!--[if gt IE 8]><!-->
    <script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='assess/govuk-frontend/govuk-frontend-5.6.0.min.js') }}"></script>
    <script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='assess/js/main.min.js') }}"></script>
  <!--<![endif]-->
  <!-- Google Tag Manager (noscript) -->
  {# djlint:off #}
  <noscript>
      <iframe title="Google Tag Manager" src="https://www.googletagmanager.com/ns.html?id=GTM-M5J9Q8HV" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  {# djlint:on #}
  <!-- End Google Tag Manager (noscript) -->
{% endblock bodyEnd %}
