{% from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}
{% from "govuk_frontend_jinja/components/textarea/macro.html" import govukTextarea %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/details/macro.html" import govukDetails %}
{% from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary %}
{% from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner %}
{% from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios %}

{% from "form_runner/application_status.html" import applicationStatus %}

{% extends "manage/base.jinja.html" %}

{% block pageTitle %}{{ section.title }} - {% trans %}Application{% endtrans %} {{ application.code }} - {% trans %}Funding service{% endtrans %}{% endblock %}

{% block beforeContent %}
{{ super() }}
{{ govukBreadcrumbs({
    "items": [
    { "text": grant.proto_name, "href": url_for("proto_manage.platform.grants.view_grant_overview", grant_code=grant.short_name) },
    { "text": _("Applications"), "href": url_for("proto_manage.assess.list_grant_applications_handler", short_code=grant.short_name) },
    { "text": application.code, "href": url_for("proto_manage.assess.assess_application_detail_hander", short_code=grant.short_name, application_id=application.external_id) },
    { "text": section.title, "href": url_for("proto_manage.assess.assess_application_section_hander", short_code=grant.short_name, application_id=application.external_id, section_id=section_data.id) }
    ]
})}}
{% endblock %}

{% set section = section_data.section %}
{% set data = section_data.data %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if form.errors or score_form.errors %}
            {{ govukErrorSummary(wtforms_errors(form if form.errors else score_form)) }}
        {% endif %}

        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                {% if message == "COMMENT_ADDED" %}
                    {% set html %}
                        <h3 class="govuk-notification-banner__heading">{% trans %}Comment added{% endtrans %}</h3>
                        <p class="govuk-body">{% trans %}Your comment for this section has been recorded.{% endtrans %}</p>
                    {% endset %}
                    {{ govukNotificationBanner({
                        "html": html,
                        "type": "success"
                    }) }}
                {% elif message == "SCORE_ADDED" %}
                    {% set html %}
                        <h3 class="govuk-notification-banner__heading">{% trans %}Section scored{% endtrans %}</h3>
                        <p class="govuk-body">{% trans %}Your score and reason have been recorded.{% endtrans %}</p>
                    {% endset %}
                    {{ govukNotificationBanner({
                        "html": html,
                        "type": "success"
                    }) }}
                {% endif %}
            {% endfor %}
        {% endwith %}

        <span class="govuk-caption-l">{% trans %}Application for funding{% endtrans %}</span>
        <h1 class="govuk-heading-l">{{ section.title }}</h1>

        {% set rows =[] %}
        {% for question in get_visible_questions_for_section_instance(section_data.section, section_data) %}
            {% set rows = rows.append({
                "key": { "text": question.title },
                "value": { "text": get_answer_text_for_question_from_section_data(question, section_data) }
            }) %}
        {% endfor %}
        {{ govukSummaryList({
            "firstCellIsHeader": false,
            "rows": rows
        }) }}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% set detailHtml %}
            <form method="POST" novalidate>
                {{ score_form.csrf_token }}
                {{ score_form.action }}
                {{ score_form.score(params={
                    "fieldset": {
                        "legend": {
                            "text": _("Your score"),
                            "classes": "govuk-!-font-weight-bold"
                        }
                    }
                }) }}
                {{ score_form.reason(params={
                    "label": {
                        "classes": "govuk-!-font-weight-bold"
                    }
                }) }}
                {{ score_form.submit }}
            </form>
        {% endset %}
        {{ govukDetails({
            "summaryText": "Score this section",
            "html": detailHtml,
            "open": score_form.errors
        }) }}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {# <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> #}
        {% if actions %}
        <ol class="timeline govuk-!-margin-top-2">
            {% for action in actions | sort(attribute="created_at") %}

            {# hacky and a hundred things to improve #}
            {% set event = "SCORE" if action.score else "COMMENT" %}

            {# please don't judge me #}
            {% set nameFromEmail = action.account.email.split("@")[0].split(".") | join(" ") | title %}

            <li class="timeline__event">
                {% if action.comment %}
                <h2 class="timeline__event-title govuk-heading-s">{% trans %}Comment added to this section{% endtrans %}</h2>
                {% else %}
                <h2 class="timeline__event-title govuk-heading-s">{% trans %}This section was scored{% endtrans %} ({{ action.score }})</h2>
                {% endif %}
                <span class="govuk-body">{% trans name=nameFromEmail %}{{ name }} on{% endtrans %} <time>{{ action.created_at | dateformat }}</time></span>
                <div class="timeline__content govuk-!-margin-top-2">
                    <p class="govuk-body">{{ action.comment or action.reason }}</p>
                </div>
            </li>
            {% endfor %}
        </ol>
        {% endif %}

        <form method="POST" novalidate>
            {{ form.csrf_token }}
            {{ form.action }}
            {{ form.comment(params={
                "label": {
                    "text": _("Comment on this section"),
                    "classes": "govuk-!-font-weight-bold govuk-!-margin-top-4"
                }
            }) }}
            {{ form.submit(params ={
                "classes": "govuk-button--secondary"
            }) }}
        </form>
    </div>
</div>
{% endblock %}
