{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/inset-text/macro.html" import govukInsetText %}
{% from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}
{% from "govuk_frontend_jinja/components/input/macro.html" import govukInput %}
{% from "govuk_frontend_jinja/components/select/macro.html" import govukSelect %}
{% from "govuk_frontend_jinja/components/pagination/macro.html" import govukPagination %}
{% from "govuk_frontend_jinja/components/tag/macro.html" import govukTag %}

{% from "form_runner/application_status.html" import applicationStatus %}

{% extends "manage/base.jinja.html" %}

{% block pageTitle %}{{ grant.name }} - {% trans %}Funding service{% endtrans %}{% endblock %}

{% block beforeContent %}
{{ super() }}
{{ govukBreadcrumbs({
    "items": [
    { "text": grant.name, "href": url_for("proto_manage.platform.grants.view_grant_overview", grant_code=grant.short_name) },
    { "text": "Applications", "href": "#" }
    ]
})}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        {% if grant.is_draft %}
        <div class="fs-align-status-tag govuk-!-margin-bottom-5">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
                {% trans %}Applications for funding{% endtrans %}
            </h1>
              {{ govukTag ({
                  "text": _("Test"),
                  "classes": "govuk-tag--grey govuk-!-margin-top-1"
              }) }}
        </div>
        {% else %}
          <h1 class="govuk-heading-l">
              {% trans %}Applications for funding{% endtrans %}
          </h1>
        {% endif %}


        {# just a little thing but presume we should do our best to check against actual enum values - this feels dumb #}
        {% if grant.funding_type.name == "COMPETITIVE" %}
        <p class="govuk-body govuk-!-margin-top-6">
            {% trans name=grant.name%}As a competed grant, you will only see applications your users have submitted.{% endtrans %}
        </p>
        {% endif %}
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="assess-filter">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter">
                    <div>
                        {% set referenceHint %}<span class="govuk-body-s">Enter full or partial reference</span>{% endset %}
                        {{ govukInput({
                            "label": {
                                "text": _("Reference"),
                                "classes": "govuk-!-font-weight-bold govuk-!-font-size-16"
                            },
                            "hint": {
                                "html": referenceHint,
                            }
                        }) }}
                    </div>
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <div>
                        {% set statusHint %}<span class="govuk-body-s">Select an option</span>{% endset %}
                        {{ govukSelect({
                            "label": {
                                "text": _("Status"),
                                "classes": "govuk-!-font-weight-bold govuk-!-font-size-16"
                            },
                            "hint": {
                                "html": statusHint
                            },
                            "items": [
                                { "value": "all", "text": "All"}
                            ]
                        }) }}
                    </div>
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <div>
                        {% set assignedToHint %}<span class="govuk-body-s">Select an option</span>{% endset %}
                        {{ govukSelect({
                            "label": {
                                "text": _("Assinged to"),
                                "classes": "govuk-!-font-weight-bold govuk-!-font-size-16"
                            },
                            "hint": {
                                "html": assignedToHint
                            },
                            "items": [
                                { "value": "all", "text": "All"}
                            ]
                        }) }}
                    </div>
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <div>
                        {% set emailHint %}<span class="govuk-body-s">Enter full email address</span>{% endset %}
                        {{ govukInput({
                            "label": {
                                "text": _("Applicant email"),
                                "classes": "govuk-!-font-weight-bold govuk-!-font-size-16"
                            },
                            "hint": {
                                "html": emailHint
                            }
                        }) }}
                    </div>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {{ govukButton({
                        "text": "Filter",
                        "classes": "govuk-!-margin-bottom-1"
                    }) }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-full">
        <p class="govuk-body">
            {{ applications | length }} {% trans %}applications{% endtrans %}.
        </p>

        {% if applications %}
            <a class="govuk-body govuk-link govuk-link--no-visited-state" href="#">{% trans %}Download applications as CSV{% endtrans %}</a>
        {% endif %}
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-full">
        {% if applications %}
            {% set rows = [] %}
            {% for application in applications %}
                {% set referenceLink %}
                <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('proto_manage.assess.assess_application_detail_hander', short_code=grant.short_name, application_id=application.external_id) }}">{{ application.code }}</a>
                {% endset %}
                {% set rows = rows.append([
                    { "html": referenceLink },
                    { "text": "(not assigned)" },
                    { "html": applicationStatus(application) },
                    { "text": "(not scored)" },
                    { "text": application.created_at | dateformat },
                    { "text": application.updated_at | dateformat }
                ]) %}
            {% endfor %}
            {% set dateSubmittedHeader %}<a class="gouvk-link govuk-link--no-visited-state" href="#">{% trans %}Date submitted{% endtrans %}</a>{% endset %}
            {% set lastUpdatedHeader %}<a class="gouvk-link govuk-link--no-visited-state" href="#">{% trans %}Last updated{% endtrans %}</a>{% endset %}
            {{ govukTable({
                "head": [
                    { "text": _("Reference") },
                    { "text": _("Assigned") },
                    { "text": _("Status") },
                    { "text": _("Sections scored") },
                    { "html": dateSubmittedHeader },
                    { "text": lastUpdatedHeader },
                ],
                "rows": rows,
            }) }}

            {{ govukPagination({
                "items": [
                    { "number": 1, "href": "#", "current": true }
                ]
            })}}
        {% endif %}
    </div>
</div>
{% endblock %}
