{% extends "apply/base.html" %} {% from "govuk_frontend_jinja/components/button/macro.html"
import govukButton -%}
{% from "apply/partials/migration_banner.html" import migration_banner %}
{% set pageHeading %}{% trans %}Application submitted{% endtrans %}{% endset %}
{% block content %}
{% if migration_banner_enabled %}
  {{ migration_banner() }}
{% endif %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              {{ pageHeading }}
            </h1>
            <div class="govuk-panel__body">
              {% trans %}Reference number{% endtrans %}<br><strong>{{ application_reference }}</strong>
            </div>
          </div>

          <p class="govuk-body">{% trans %}We have sent a confirmation email including details of your application to{% endtrans %}&nbsp;<strong>{{ application_email }}</strong></p>

          <h2 class="govuk-heading-m">{% trans %}What happens next{% endtrans %}</h2>

          <p class="govuk-body">
            {% trans %}You do not need to do anything else at this time.{% endtrans %}
          </p>
          <!-- TODO Assuming that this is the only round (PFN-RP) that is not going to need the hardcoded text
            "The assessors will start ...". otherwise we need to find a better way to handle this -->
          {% if not is_pfn_fund_round %}
          <p class="govuk-body">
            {% trans %}The assessors will start reviewing applications from {% endtrans %}{{ assessment_start_date }}.
          </p>
          {% endif %}
          {% if fund_type == "UNCOMPETED" %}
            <p class="govuk-body">{% trans %}We’ll email you if the assessor needs additional information or has any questions about your application for{% endtrans %} {{fund_name}}.</p>
          {% endif %}
          <a href="{{ url_for('account_routes.dashboard', fund=fund_short_name, round=round_short_name) }}" >
            <p class="govuk-link">{% trans %}Go to your applications{% endtrans %}</p>
          </a>

          <a href="{{ g.logout_url }}" >
            <p class="govuk-link">{% trans %}Sign out{% endtrans %}</p>
          </a>
        </div>
      </div>
    </main>
  </div>

  {% endblock content %}
