{% extends "apply/base.html" %}
{% from "apply/partials/feedback_error_summary.html" import feedback_error_summary %}
{% from "apply/partials/migration_banner.html" import migration_banner %}

{% block beforeContent %}
    <a href="{{ url_for('application_routes.tasklist', application_id=application_id) }}"
       class="govuk-back-link">{% trans %}Go back to application overview{% endtrans %}</a>
{% endblock beforeContent %}

{% block content %}
    {% if form.errors.get('time_spent') %}
        {{ feedback_error_summary(form.errors.get('time_spent')[0], "#time_spent") }}
    {% endif %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if migration_banner_enabled %}
                {{ migration_banner() }}
            {% endif %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-l">{% trans %}Applicant feedback survey{% endtrans %}</span>
                </div>
                <div class="govuk-grid-column-one-third govuk-!-text-align-right">
                    <span class="govuk-body">{% trans %}3 of 4 questions{% endtrans %}</span>
                </div>
            </div>

            <form method="post">
                {{ form.hidden_tag() }}

                <div class="govuk-form-group {% if form.errors.get('time_spent') %}govuk-form-group--error{% endif %}">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                {% trans %}On average, how much time did you and your team spend completing the form (including collating and providing information)?{% endtrans %}
                            </h1>
                        </legend>
                        {% if form.errors.get('time_spent') %}
                        <p id="time-spent-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">{% trans %}Error:{% endtrans %}</span> {{ form.errors.get('time_spent')[0] }}
                        </p>
                        {% endif %}
                        <div class="govuk-radios" data-module="govuk-radios" id="time_spent">
                            {% for choice_value, choice_label in form.time_spent.choices %}
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="{{ form.time_spent.id }}-{{ loop.index }}"
                                           name="{{ form.time_spent.name }}" type="radio"
                                           value="{{ choice_value }}"
                                            {% if choice_value == form.time_spent.data %}
                                           checked
                                            {% endif %}>
                                    <label class="govuk-label govuk-radios__label" for="{{ form.time_spent.id }}-{{ loop.index }}">
                                        {{ choice_label }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>

                <div>
                    <button class="govuk-button" data-module="govuk-button" data-qa="save_and_continue">{% trans %}Save and continue{% endtrans %}</button>
                </div>
            </form>

        </div>

    </div>
{% endblock content %}
