{% extends "apply/base.html" %}
{% from "apply/partials/migration_banner.html" import migration_banner %}

{% block beforeContent %}
    <a href="{{ url_for('application_routes.tasklist', application_id=application_id) }}"
       class="govuk-back-link">{% trans %}Go back to application overview{% endtrans %}</a>
{% endblock beforeContent %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if migration_banner_enabled %}
                {{ migration_banner() }}
            {% endif %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-l">{% trans %}Applicant feedback survey{% endtrans %}</span>
                </div>
                <div class="govuk-grid-column-one-third govuk-!-text-align-right">
                    <span class="govuk-body">{% trans %}2 of 4 questions{% endtrans %}</span>
                </div>
            </div>

            <form class="form" method="post">
                {{ form.hidden_tag() }}

                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l" for="{{ form.service_improvement.id }}">
                            {% trans %}How could we improve this service?{% endtrans %}
                        </label>
                    </h1>
                    {{ form.service_improvement(class="govuk-textarea", rows=5) }}
                </div>

                <div>
                    <button class="govuk-button" data-module="govuk-button" data-qa="save_and_continue">{% trans %}Save and continue{% endtrans %}</button>
                </div>
            </form>

        </div>

    </div>
{% endblock content %}
