.comment-group {
    background-color: #ffffff;
    padding: 15px 25px 15px;
    margin-bottom: 25px;
    border: 2px #b1b4b6 solid;
}

.comment-group:last-of-type {
    margin-bottom: 30px;
}

.comment-group .govuk-body-s {
    color: #505a5f;
    margin-top: -10px;
}

.scrollable-comments {
    max-height: 580px;
    overflow-y: overlay;
}
