{% from "govuk_frontend_jinja/components/input/macro.html" import govukInput %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary %}

{% extends "apply/base.jinja.html" %}

{% block pageTitle %}{% trans %}Email address{% endtrans %} - {% trans %}Apply for funding{% endtrans %}{% endblock %}

{# Hide service nav on the login page because it looks weird? #}
{# Jan 25: I'm not _convinced_ it doesn't look weird but something about it not being there is inconsistent too #}
{# {% block serviceNavigation %}{% endblock serviceNavigation %} #}

{% block beforeContent %}
{{ super() }}
{% if magic_links_back_path %}
{{ govukBackLink({
    "text": _("Back"),
    "href": magic_links_back_path
}) }}
{% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if form.errors %}
            {{ govukErrorSummary(wtforms_errors(form)) }}
        {% endif %}

        <form method="post" novalidate>
            {{ form.csrf_token }}
            {{ form.email(params={
                "label": {
                    "isPageHeading": true,
                    "classes": "govuk-label--l"
                },
                "autocomplete": "email",
                "spellcheck": false
            }) }}
            {{ form.submit }}
        </form>
    </div>
</div>
{% endblock %}
